
.contactanos{
	color: white;
	font-size: 12px;
	display: block;
	margin: 15px 0;
}
.top-right{
	text-align: right;
	font: white;
}

.logo{
	width: 100px;
}

.options{
	display: inline-block;
	padding: 15px;
	font-size: 12px;
	border-left: 2px solid #eaeaea;
}

.top-nav{
	margin-top: 15x;
	text-align: right;
}

.top-nav>span{
	font-size: 20px;
    padding: 30px 20px;
    display: inline-block;
    color: white;
    background: #08AB89;
    margin: 0px -1px;
}

.top-container{
	background: gray;
}


