
.contactanos{
	color: white;
	font-size: 12px;
	display: block;
	margin: 15px 0;
}
.top-right{
	text-align: right;
	font: white;
}

.logo{
	height: 88px;
}

.options{
	display: inline-block;
	padding: 15px;
	font-size: 12px;
	color: white;
}

.top-nav{
	margin-top: 15x;
	text-align: right;
}

.top-nav>a{
	font-size: 20px;
    padding: 30px 20px;
    display: inline-block;
    color: gray;
    background: white;
    margin: 0px -1px;
}

.top-nav>a:hover, .top-nav>.active{
	text-decoration: none;
	color: white !important;
	background-color: #08AB89 !important;
}

.top-container{
	background: #474D5D;
}

.carousel-inner img{
	height: 400px !important ;
	width: 100% !important;
}

.container2{
	border-top: 2px solid #62d4d8;

}

.titulos4{
	text-align: center;
}

.bottomcontainer{
	background-color: #303745;
}

.footer{
	display: inline-block;
}
.copywrite{
	color: white;
}

.redessociales{
	color: gray;
	align-content: right;
	display: inline-block;
    width: 30px;
    padding: 10px 0;
    border: 1px solid transparent;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: right;
}

.col-xs-4{
	padding: 40px 40px;
}

.iconos{
	    font-size: 35x;
}

.fondoredondo{
	border-radius: 50%;
	background-color: #474e5d;
	font-size: 400%
}

.portfolio{
	display: inline-block;
    padding: 0 30px 5px 0;
    border-bottom: 6px solid #08ab89;
    margin-bottom: -1px;
    font-size: 130%;
    text-align: left !important;
}

.paisaje{
	width: 80%;
	align-content: left;
}

.izquierda{
	text-align: left;
}

.botonleer{
	background-color: #08AB89;
	padding: 8px;
	color: white;
	text-align: right;
}

